{% extends "datbase.html" %}

{% block title %}
Información del portal de Museos de Madrid
{% endblock title %}

{%block lista_horizontal %}
<ul>
  <a href="/"><li> Inicio </li></a>
  <a href="/about"><li> About </li></a>
</ul>

{% endblock lista_horizontal %}

{% block texto_central %}
<div id="about">
<strong>Autor de la Práctica:Jose Carlos Garcia Chillon</strong>  <br>
<strong>Grado: </strong>Ingeniería en Sistemas de Telecomunicaciones <br>
Universidad Rey Juan Carlos, 2018
<br>
</div>
{% endblock texto_central %}
