{% extends "database.html" %}

{% block main %}
<div class="mainLarge">
    <h2>Autora: Jose Carlos Garcia Chillon</h2></br>
    <h2>Funcionamiento de la práctica:</h2>
    <h1>Recurso /:</h1>
    <p class="about">Página principal de la práctica. Aquí mostramos la forma que tendrá nuestra página principal con un banner en la parte superior izquierda y el formulario de login y logout en la parte superior derecha tal y como se pedia en la practica. Se muestran los 5 museos mas comentados y tambien mostrmaos las páginas de los distintos usuarios.</p><br>

    <h1>Recurso /usuario:</h1>
    <p class="about">Página personal del usuario en cuestión. En esta mostramos los museos que ha seleccionado cada usuario al igual que tambien podemos ver en la parte derecha las preferencias que el usuario puede cambiar. </p><br>

    <h1>Recurso /museos:</h1>
    <p class="about">Página con todos los museos. Aquí podemos ver el listado de todos los museos o si preferiomos podemos filtrar por distrito, si estas logueado puedes seleccionar los museos que te interesen para así poder visualizarlos en tu página de usuario. </p><br>

    <h1>Recurso /museos/idEntidad:</h1>
    <p class="about">Página de un museo en la aplicación. Aquí podemos ver todas las caracteristicas que tiene cada uno de los museos a la vez de que si estas logueado puedes hacer un comentario de ese museo y esos comentarios saldran en la página de ese museo cuando alguien mas quiera verlo o en la página principal en caso de ser uno de los museos mas comentados.
    </p><br>

    <h1>Recurso /usuario/xml:</h1>
    <p class="about">Canal XML para los museos seleccionados por ese
    usuario.</p><br>

    <h1>Recurso /about:</h1>
    <p class="about">Esta misma página.</p><br>
    <p class="about">Por último, cabe destacar que en todas las páginas de la
    aplicación podemos encontrar: el banner y la caja para hacer login/logout
    (en la parte superior)</p>
</div>
{% endblock %}
