{% load staticfiles %}

<meta http-equiv="Content-Type" content="text/html"; charset=utf-8 />

<html>
<link rel="stylesheet" href="/css/style.css" type= "text/css"/>

<body>

<div class="content">

    <div id="banner"></div>

    <div id="caja">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <p class="user">Usuario: {{ user.nick }}</p><br>
            <from class="logout" method="post" action="/logout">
                <input type="submit" value="Logout">
            </from>
        {% else %}
            <from class="logout" method="post" action="/logout">
                <label for="nick">Usuario: </label>
                <input value="{{ from.id }}" name="nick"><br>
                <label for="nick">Usuario: </label>
                <input value="{{ from.password }}" name="password" type="password"><br>
                <input class="button" type="submit" value="Login">
            </from>
         {% endif %}
    </div>
    
    <div id="menu">
        {% block menu %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/museos">All</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/rss">RSS Comentarios</a></li>
        </ul>
        {% endblock %}
    </div>
    
    {% block side %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    <div id="piepag">
        <p>Utiliza los datos de la pagina de museos de Madrid <a href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae778 ?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml& file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVC preview=full">XML</a>
        <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Description</a>
        </p>
    </div>

</div>

</body>
</html>


