{% extends "database.html" %}

{% load staticfiles %}

{% block menu %}
    <ul>
        <li><a href="/museos">All</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/rss">RSS Comentarios</a></li>
    </ul>
{% endblock %}

{% block side %}
<div class="side">
    {% csrf_token %}
        <h2>Paginas personales</h2>
        {% for usuario in listusuarios %}
            {% if usuario.titulo != "" %}
                <img src="{% static 'images/li.gif' %}" alt="list"/>
                <a href="{{ usuario.usuario }}">"{{ usuario.titulo }}"</a> --
                {{ usuario.usuario }}<br />
            {% else %}
                <img src="{% static 'images/li.gif' %}" alt="list"/>
                <a href="/{{ usuario.usuario }}">"Página de {{ usuario.usuario }}"</a>
            -- {{ usuario.usuario }}<br /> 
            {% endif %}
        {% endfor %}
        <hr />

        <h2>Btn de accesibilidad</h2>
        {% if accesibilidad %}
            <p> Pulsee si solo deseas ver los museos accesibles</p>
            <form method="post" action="/">
                <input type="submit" value="push off" name="button">
            </form>
        {% else %}
            <p> Pulsee si solo deseas ver los museos accesibles</p>
            <form method="post" action="/">
                <input type="submit" value="push on" name="button">
            </form>
        {% endif %}
        <hr />
</div>
{% endblock %}



{% block main %}
<div class="menu">
    {% if cargar %}
        <form method="post" action="/">
            <input class="load" type="submit" value="load museos" name="load">
        </form>
    {% else %}
        <h2>museos más comentados:</h2>
        {% for comentado in bestmuseos %}
            {% if comentado.num_coment > 0 %}
                <h1><a href="{{ comentado.url }}">{{ comentado.nombre }}
                </a></h1><p>{{ comentado.via }} {{ comentado.localidad }},
                {{ comentado.provincia}} {{ comentado.codigo_postal}}
                {{ comentado.barrio }} {{ comentado.distrito}}</p>
                <p class="date"><img src="{% static 'images/more.gif' %}" alt="more"/>
                <a href="/museos/{{ comentado.idm }}">Más info
                </a></p><br />
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}


